name: submit predictions
on:
  schedule:
    - cron:  '40 1 * * *'
  workflow_dispatch:  # Allow manual trigger

jobs:
  submit_predictions:
    runs-on: ubuntu-latest
    steps:

    - name: Copy Repository Contents
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Submit predictions
      env:
        NUMERAI_PUBLIC_ID: ${{ secrets.NUMERAI_PUBLIC_ID }}
        NUMERAI_SECRET_KEY: ${{ secrets.NUMERAI_SECRET_KEY }}
      run: |
        python predict.py
